PORT=3000
PUBLIC_APP_URL=http://localhost:3000
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
WORDPRESS_API_URL=https://www.footballvows.com/wp-json/wp/v2
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_USER_IDS=

